body * {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}

.button-zone {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

h2 {
  font-size: 48px;
}

h1 {
  margin: 20px;
  font-size: 80px;
}

button {
  background-color: transparent;
  border-radius: 10px;
  padding: 6px 12px;
}

.neg-num {
  color: red;
}

.pos-num {
  color: green;
}
